{% extends 'layout.html' %}

{% block title %}
  upload
{% endblock %}

{% block content %}
          <div class="container-fluid" style="margin-top:20px;"> 


            <div class="card col-lg-5 m-auto">
              <h5 class="card-header">Image uploader</h5>
              <div class="card-body">
                <!-- <h5 class="card-title">Face image</h5> -->
                <p class="card-text">Upload the face image for analysis.</p>

                <form method="post" enctype="multipart/form-data">

                  <!-- <div class="input-group mb-3">
                    <input name="image" type="file" class="form-control" id="inputGroupFile02">
                    <label class="input-group-text" for="inputGroupFile02">Upload</label>
                  </div> orm-control-lg -->

                  <div class="mb-3">
                    <input name ="image" class="form-control" type="file">
                  </div>
                  <button type="submit" class="btn btn-primary">upload</button>

                </form>

              </div>
            </div>


          </div>

 {% endblock %}