<!doctype html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/bootstrap.rtl.css">
    <link rel="stylesheet" href="../static/css/bootstrap-icons.css">
    <link rel="stylesheet" href="../static/css/style.css">

    <title>
        {% block title %}

        {% endblock %}
    </title>
  </head>


  <body>

    <header class="mb-5">
      {% include 'navbar.html' %}

      {% block slider %}

      {% endblock %}

    </header>


    {% block content %}

    {% endblock %}

    {% include 'footer.html' %}

    <script src="../static/js/jQuery.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

  </body>

</html>