

   <div class="top-menu">
    <div class="container">
        <div class="row">
            <div class="col-md-3">logo</div>
            <div class="col-md-6">
                <div class="main-menu">
                    <ul>
                        <li><a href="#">صفحه اصلی</a></li>
                        <li><a href="#">فروشگاه</a></li>
                        <li><a href="#">کوکی</a>
                            <ul>
                                <li><a href="#">صفحه اصلی</a></li>
                                <li><a href="#">فروشگاه</a></li>
                                <li><a href="#">کوکی</a>
                                    <ul>
                                        <li><a href="#">دبل چاکلت</a></li>
                                        <li><a href="#">شکلاتی</a></li>
                                        <li><a href="#">قهوه</a></li>
                                        <li><a href="#">کره بادام زمینی</a></li>
                                        <li><a href="#">کشمشی</a></li>
                                        <li><a href="#">نارگیلی</a></li>
                                        
                                    </ul>
                                </li>
                                <li><a href="#">تماس</a></li>
                            </ul>
                        </li>
                        <li><a href="#">تماس</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="top-access">
                    <ul class="text-center">
                        <li class="d-inline-block"><a href="#" class="text-light d-inline-block"><i class="bi bi-bag"></i></a></li>
                        <li class="d-inline-block"><a href="#" class="text-light d-inline-block"><i class="bi bi-person"></i></a></li>
                        <li class="d-inline-block"><a href="#" class="text-light d-inline-block"><i class="bi bi-heart"></i></a></li>
                        <li class="d-inline-block"><a href="#" class="text-light d-inline-block"><i class="bi bi-search"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
   </div>
   



