{% extends "polls/layout.html" %}

{% block content %}
<hr class="border border-danger border-2 opacity-50">


<table class="table table-hover">
    <thead class="table-light">
        <tr>
            <th scope="col"><p class="h3">سوال ها</p></th>
        </tr>
        
    </thead>
    
    {% if latest_question_list %}

        <ul>
            {% for question in latest_question_list %}
            <tbody >
                <tr>
                
                    <td><li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li></td>
                  </tr>
                
            </tbody>
            {% endfor %}
        </ul>
</table>

    {% else %}

        <p>No polls are available.</p>

    {% endif %}

    <hr class="border border-danger border-2 opacity-50">

{% endblock %}

